<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">A quick look at my career progression</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/eagle.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2016</h4>
                                    <h4 class="subheading">Eagle Scout</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After 4 years of leadership and participation in BSA, I was awarded the rank of Eagle Scout</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/valedictorian.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2017</h4>
                                    <h4 class="subheading">Valedictorian </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Graduated as Valedictorian from Murrieta Valley High School</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/startedberkeley.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2017</h4>
                                    <h4 class="subheading">Started Undergraduate Studies at UC Berkeley</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Started my first month of studying electrical engineering and computer science at UC Berkeley</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/alumni.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2017</h4>
                                    <h4 class="subheading">Cal Alumni Leadership Award</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Awarded the Berkeley Cal Alumni Association Leadership award for my leadership in High School </p>
                                </div>
                            </div>
                        </li>
                       <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/vrab.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2018</h4>
                                    <h4 class="subheading">VR DeCal Facilitator + VR@B Officer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Offered a position as a VR DeCal facilitator and VR@B Officer for my excellent performance in the VR DeCal the previous semester.</p>
                                </div>
                            </div>
                        </li>
                         <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/isaacs.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2018</h4>
                                    <h4 class="subheading">ISAACS Undergraduate Research + Software Developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Joined the Immersive Semi-Autnomous Aerial Command System undergraduate research team in the Augmented Cognition Lab at UC Berkeley. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/stac.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2018</h4>
                                    <h4 class="subheading">STAC Software + Hardware Engineer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Joined Space Technologies at Cal as a software developer on the High Altitude Balloon (HAB) team. Also worked as an electrical engineer designined circuits in KiCad.</p>
                                </div>
                            </div>
                        </li>
                         <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/graduate.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2018</h4>
                                    <h4 class="subheading">VR Development Graduate Course Facilitator</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Hired by Fung Institue to design, teach, and facilitate a graduate course in VR Development. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/radiation.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2018</h4>
                                    <h4 class="subheading">ISAACS LBNL Radiation Lead</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Spearheaded the ISAACS radiation visualization project team between the Augmented Cognition Lab and Lawrence Berkeley National Labs.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/headset.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2019</h4>
                                    <h4 class="subheading">VR Education Branch Lead + VR@B Exec</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Created the VR Education Branch in VR@B to facilitate the creation of new education teams and initiatives. Currently has 6 teams in the branch with about 5 people per team. I was also made 1 of 4 Executive Leads of VR@B, making decisions for the largest undergraduate VR club in the nation (150+ Developers) </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/author.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2019</h4>
                                    <h4 class="subheading">ISAACS Academic Researcher + Author</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Recruited back onto the original ISAACS team to help author the first academic research paper planned to be published in September of 2019.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/nasa.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2019</h4>
                                    <h4 class="subheading">NASA JPL (Jet Propulsions Lab) SWE + Project Manager Intern</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Recruited to be a NASA JPL intern working on AR apps to help utility companies improve the workflow of gas surveyors. I worked as project manager and developer to create an app that visualized underground pipelines and routes to the closest pipelines in AR on iOS and Android using realtime GPS. Planned to be used by multiple utility companies to improve workflow tremendously. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">

                                <h4 style = "color:#000">
                                        Get 
                                    <br>Onto
                                    <br>Survivor!</h4>
                            </div>
</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>