 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                           

                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Company:
                                    <strong><b>{{ post.client }}</b>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><b>{{ post.project-date }}</b>
                                    </strong>
                                </li>
                                <li>Subject Area:
                                    <strong><b>{{ post.category }}</b>
                                    </strong>
                                </li>
                                <li>Link:
                                    <strong><a href="{{post.link}}">{{post.linkDes}}</a>
                                    </strong>
                                </li>
                                 <li>
                                    <strong>{{post.game}}</a>
                                    </strong>
                                </li>
                            </ul>
                        
                            
                            <object width="600" height ="400" data ={{post.vid}} onerror="this.style.display='none'">

                            </object>

                            <object width="600" height ="400" data ={{post.vid2}} onerror="this.style.display='none'">

                            </object>

                          
                            
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered"  onerror="this.style.display='none'">
                            <img src="img/portfolio/{{ post.img2 }}" class="img-responsive img-centered" onerror="this.style.display='none'" >
                            <img src="img/portfolio/{{ post.img3 }}" class="img-responsive img-centered" onerror="this.style.display='none'">
                            <img src="img/portfolio/{{ post.img4 }}" class="img-responsive img-centered" onerror="this.style.display='none'">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
