<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">Example skills that I consider myself "proficient" at </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-3x">
                        
                        <img src="img/unitypic.png" width="80" height = "80">
                       
                    </span>
                    <h4 class="service-heading">Unity + C#</h4>
                    <p class="text-muted">                  </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-3x">
                       <img src="img/javapic.png" width="80" height = "80">
                    </span>
                    <h4 class="service-heading">Java</h4>
                    <p class="text-muted">                  </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-3x">
                       <img src="img/pythonpic.png" width="80" height = "80">
                    </span>
                    <h4 class="service-heading">Python</h4>
                    <p class="text-muted">                  </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-3x">
                       <img src="img/uipic.png" width="80" height = "80">
                    </span>
                    <h4 class="service-heading">UI/UX Design</h4>
                    <p class="text-muted">                   </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-3x">
                       <img src="img/managementpic.png" width="80" height = "80">
                    </span>
                    <h4 class="service-heading">Project Management</h4>
                    <p class="text-muted">                  </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-3x">
                       <img src="img/swiftpic.png" width="80" height = "80">
                    </span>
                    <h4 class="service-heading">Swift + xCode</h4>
                    <p class="text-muted">                  </p>
                </div>
                <div class="col-md-4">
                        <span class="fa-stack fa-3x">
                           <img src="img/kicad.png" width="80" height = "80">
                        </span>
                        <h4 class="service-heading">KiCad</h4>
                        <p class="text-muted">                  </p>
                </div>
                <div class="col-md-4">
                        <span class="fa-stack fa-3x">
                           <img src="img/teaching.png" width="80" height = "80">
                        </span>
                        <h4 class="service-heading">Teaching</h4>
                        <p class="text-muted">                  </p>
                </div>
                <div class="col-md-4">
                        <span class="fa-stack fa-3x">
                           <img src="img/cicon.png" width="80" height = "80">
                        </span>
                        <h4 class="service-heading">C</h4>
                        <p class="text-muted">                  </p>
                </div>
        </div>
    </section>